<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="dist/css/select2.css">
</head>
<body>
  <div id="app">

    <p>{{   2   }}</p>



    <select v-model="a">
      <option value="aaa">aaaa</option>
      <option value="bbb">bbbb</option>
      <option value="c">cccc</option>
    </select>

    <select2 v-model="selectedValue">
      <option value="a">aaaaa</option>
      <option value="b">bbbbb</option>
      <option value="c">ccccc</option>
    </select2>
  </div>
</body>
<script src="../jquery-3.1.1.js"></script>
<script src="vue.js"></script>
<script src="dist/js/select2.full.js"></script>
<script>
  Vue.component('select2', {
    template: `
      <div ref="wrapper">
        <span ref="a" v-for="i in 3"></span>
        <span ref="c"></span>
        <select ref="selectTag">
          <slot></slot>
        </select>
      </div>
    `,
    props: ['value'],
    data() {
      return {
        a: {
          b: {
            c: 2
          }
        }
      }
    },
    watch: {
      value: {
        handler(newVal){
          this.$select2.val(newVal)
        },
        deep: true,
        immediate: true,
      },
    },
    mounted() {
      var self = this
      var select = this.$refs.selectTag
      console.log(select)
      var $select2 = $(select).select2({
      })
      this.$select2 = $select2
      $select2.on('change', function(event){
        var value = event.target.value
        self.$emit('input', value)
      })

      this.$select2.val(this.value)
    }
  })

  app = new Vue({
    el: '#app',
    data: {
      a: 'bbb',
      selectedValue: 'c',
    },
    methods: {
      a: function(){
        _.deboucne()
      }
      b: _.debounce(function(){
        console.log(this)
      }, 500)
    }
  })
</script>
</html>